.vs/
Scouting2200/bin/
Scouting2200/obj/
Scouting2200.Android/obj/
Scouting2200.Android/obj/
Scouting2200.iOS/obj/
Scouting2200.iOS/obj/
.vs/Scouting2200/v17/.suo
.vs/Scouting2200/v17/.futdcache.v1
.vs/Scouting2200/DesignTimeBuild/.dtbcache.v2
Scouting2200/Scouting2200.Android/bin/Debug/com.companyname.scouting2200-Signed.apk
Scouting2200/Scouting2200.Android/bin/Debug/com.companyname.scouting2200.apk
Scouting2200/Scouting2200.Android/bin/Debug/Scouting2200.Android.dll
Scouting2200/Scouting2200.Android/bin/Debug/Scouting2200.Android.pdb
Scouting2200/Scouting2200.Android/bin/Debug/Scouting2200.dll
Scouting2200/Scouting2200.Android/bin/Debug/Scouting2200.pdb
Scouting2200/Scouting2200.Android/bin/Release/com.companyname.scouting2200-Signed.apk
Scouting2200/Scouting2200.Android/bin/Release/com.companyname.scouting2200.apk
Scouting2200/Scouting2200.Android/bin/Release/com.companyname.scouting2200.apk.mSYM/658ee5d99126479eac993f35965bb6e6/Scouting2200.Android.dll
Scouting2200/Scouting2200.Android/bin/Release/com.companyname.scouting2200.apk.mSYM/658ee5d99126479eac993f35965bb6e6/Scouting2200.Android.pdb
Scouting2200/Scouting2200.Android/bin/Release/com.companyname.scouting2200.apk.mSYM/702234ced9354382a7fb3ff6dd341d3e/Scouting2200.dll
Scouting2200/Scouting2200.Android/bin/Release/com.companyname.scouting2200.apk.mSYM/702234ced9354382a7fb3ff6dd341d3e/Scouting2200.pdb
